{% extends "layout.html" %}
{% block title %} Validate Pin

{% endblock %}
{% block content %} 

<style>

input[type=text], select {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label {
  font-size:18px;
  font-family:Calibri;
}

p[class=error]{
  font-size:15px;
  font-family:Calibri;
}

</style>

<center><h2>Validate Pin</h2></center>
<div class="validatepin"></div>
<div class="validateguide">
  Hi Students, ask your teacher to enter the pin for you to start the lesson.
</div>
<form class="validateform" action="#" method="post" style="margin-bottom:  100px;margin-right: -65px;">
    <center><label for="fpin">Enter PIN</label></center>
    <center><input type="text" id="pin" name="fpin" placeholder="PIN"></center>
	{% if error %}
        <p class="error" style="margin-left: 50px;"><strong>Error:</strong> {{ error }}
      	{% endif %}
    <br>
    <br>
    <center><button type="submit" name="submit_button">Submit Pin</button></center>
  </form>
<div class="validateimage"></div>

{% endblock %}